<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="ProjekatA.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <connectionStrings>
		<add name="MyDatabase" connectionString="server=localhost;user=administrator;database=bp_proba;port=3306;password=lozinka123" providerName="System.Data.SqlClient"/>
	</connectionStrings>
 <userSettings>
  <ProjekatA.Properties.Settings>
   <setting name="Username" serializeAs="String">
    <value />
   </setting>
   <setting name="Style" serializeAs="String">
    <value />
   </setting>
   <setting name="Language" serializeAs="String">
    <value />
   </setting>
  </ProjekatA.Properties.Settings>
 </userSettings>
</configuration>